<h2>Pick a Place</h2>

<% @places.each do |pl| %>
<div class="places">
<% if pl["types"].include?("lodging") %>
<%else%>
<%= pl["name"] %><br>
<% if pl["rating"] != nil %>
Rating: <%= pl["rating"] %><br>
<% else %>
Rating: N/A <br>
<%end%>
<% if pl["price_level"] != nil %>
Pricing: <%= pl["price_level"] %><br>
<% else %>
Pricing: N/A <br>
<%end%>
</div>
<%end%>
<%end%>
