<div class="meetup">
  <h3> Your meet up at <%= @meetup.location_name %>. </h3>
  <h2>For directions.</h2>
 <%= link_to "Directions!", directions_path , target: '_blank', class: 'form_button'%>
</div>
