
<% if logged_in? %>
  <h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>
  <% @user.interests.each do |interest| %>
    <%= interest.name %><br>
  <% end %><br><br>
  <%= link_to("Log Out",sessions_logout_path,method: :delete, data: {confirm: 'Are you sure?'}) %>

<% else %>
  <h1>Users#show (You are not logged in)</h1>
<% end %>
