<div class="main">
  <div class="headline">
    <div class="about">
      <img src="/logo_transparent.png" alt="" class="logo">
    <p>Plate-onicly is a place for strangers to meet and have lunch. We were founded in 2018, to help strangers not eat alone. We wanted to create an experience where two people can come together and share bread ... or pasta ... or a burger together. You can have a real conversation. Create an event or join a random event. For guest users it is truly random, so if you would like more options, go ahead and create an account with us. Won't you join us to have lunch with a stranger! At Plate-onicly there's a plate for everyone. </p>    </div>
  </div>
</div>
