<div class="main">
  <div class="headline">
    <div class="about">
      <img src="/logo_transparent.png" alt="" class="logo">
      <p>We were founded in 2018, to help strangers not eat alone. We wanted to create an expierence where two people can come togeather and share bread ... or pasta ... or a burger togeather. We made this website so that people do not have to eat alone again. We can have a real conversation and meet somebody for that one hour to make us dive into conversation. Won't you join us to have lunch with a stranger!</p>
    </div>
  </div>
</div>


 
