<div class="main">
  <div class="headline">
    <div class="about">
      <img src="/logo_transparent.png" alt="" class="logo">
    <p>Plate-onicly is a place for strangers to meet and have lunch. Create an event or join a random event. For guest users it is truely random, so if you would like more options, go ahead and create an account with us. At Plate-onicly there's a plate for everyone.</p>    </div>
  </div>
</div>
