<div class="main">
    <div class="sign">
      <div class="login"></div>
    </div>

    <div class="toprest">
      <h2>Top Rests</h2>
      <div class="landingGrid">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
      </div>
    </div>
    <div class="bottom">

    </div>


</div>
