<div class="main">
    <div class="headline">
      <img src="/logo_transparent.png" alt="" class="logo">
    </div>

    <div class="toprest">
      <h2>Top Rests</h2>
      <div class="landingGrid">
        <div class="grid-item">
          <div class="gridImg">
            <div class="info"></div>
            <h4>rest 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>

        <div class="grid-item">
          <div class="gridImg">
            <div class="info">
            </div>
            <h4>rest 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>

        <div class="grid-item">
          <div class="gridImg">
            <div class="info">
            </div>
            <h4>rest 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>

        <div class="grid-item">
          <div class="gridImg">
            <div class="info">
            </div>
            <h4>rest 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
      </div>

    </div>



    <div class="footer">
      <h3>&copy; 2018 Plate-onicly</h3>
      <div class="footerline">
        <img src="/logo_transparent.png" alt="" class="image-footer">
      </div>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-yelp"></i>
</div>


<div class="popup">
  <div class="signup">
    <!-- <%# render 'users/form'%> -->
    <button type="button" class="close">close</button>
  </div>
  <div class="login">
    <%= render 'sessions/new'%>
    <button type="button" class="close">close</button>
  </div>
</div>
