* {
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: url('/food.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
header {
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.5);


}
.menu {
  width:15%;
  opacity: 0;
  position: absolute;
  left: 77%;
  font-size: 24px;
  transition: opacity ease 1.5s;
  color: whited;
}
nav {
  position: relative;
  padding: 0 5px;

}
nav ul {
  position: relative;
  margin-left: 50%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  text-align: center;
  width: 75px;
  margin-right: 10px;
  font-size: 18px;
  padding: 0 10px;
  transition: border ease .5s;

}
nav ul li:hover {
  border-top: rgba(255,255,255, 0.7) 2px solid;
  font-size: 16px;

}
nav ul li a {
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
  font-weight: 100;
}
nav ul li a:hover {
  color: rgba(255,255,255, 0.5);
}

.main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: auto;
  border-bottom: black 3px solid;
}

.headline {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.6);
  text-align: center;
}
.logo {
  position: relative;
  margin-top:-10%;
  width: 40vw;

}
.toprest{
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  height: 90vh;
  background: white;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.5);

}
.toprest h2 {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 50px;
}
.landingGrid{
  margin-top: 20px;
  display: grid;
  grid-template: auto/ auto auto auto auto;
  grid-gap: 25px;
}
.landbox{
  float: right;
  position: relative;
  width: 70vw;
  height: 80vh;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  font-size: 17px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;

}
.grid-item{
  box-sizing: border-box;
}
.info{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  opacity: 0;
  transition: 1s ease;
}

.info:hover {
  opacity: 1;
}

.grid-item h4{
  margin: 5px 0;
}
.gridImg{
  height: 300px;
  text-align: center;
  background: url('https://picsum.photos/200/300?random');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
}
.bottom {
  width: 100vw;
  height: 25vh;
  background: rgba(0,0,0,.6);
}

.popup {
  position: fixed;
  top:25px;
  width: 100vw;
  height: 100vh;
  background:rgba(255,0,0,.3) ;
  z-index: 2;
  overflow: auto;
  /* display: none; */
}

.signup {
  width: 300px;
  height: 90vh;
  margin: 0 auto;
  background: rgba(255,255,255, 0.9);
  border: black 2px solid;
  padding: 10px;
  margin-top:25px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: content-box;
  overflow: scroll;

}

.signup input, .login input{
  height: 25px;
  width: 150px;
}
.signup .btn, .login .btn{
  width: 100px;
  height: 40px;
  font-size: 20px;
  background: blue;
  padding: 5px;
}

.login {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  background: rgba(255,255,255, 0.9);
  border: black 2px solid;
  margin-top:25px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: content-box;
}

.userHome {
  width: 300px;
  height: 300px;
  background: rgba(0,0,0,.8);
  border-radius: 0 0 20px 0;
  color: white;


}
.yelpList {
  float: right;
  position: relative;
  width: 67vw;
  height: 90%;
  display: grid;
  grid-template: auto/ auto auto;
  grid-gap: 20px;
  padding: 20px;
  box-sizing: content-box;
  margin: 0 auto;
  overflow: scroll;
  border-top: black 2px solid;
  border-bottom: black 2px solid;

}
.yelp {
  height: auto;
  background: white;
  box-sizing: content-box;
  padding: 5px;
  border: black 2px solid;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);

}
.location{
  position: relative;
  width: 29vw;
  height: 100%;
  float: left;
  border-right: black .5vw solid;
  background: rgba(255,255,255,.1 );
  text-align: left;
}
.pickLocation, .join {
  text-align: center;
  width: 85%;
  height: 25%;
  border: black 1px solid;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px;
  background: rgba(255,255,255,.8);
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
}
.pickLocation{
  margin-top: 30%;
  margin-bottom: 20%
}

.join button, .pickLocation button {
  width: 125px;
  height: 45px;
  margin-top: 45px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.5);
  outline: none;
}
.join button:hover, .pickLocation button:hover {
  top: 2px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.join button:active, .pickLocation button:active {
  top: 5px;
  box-shadow: none;
}
.pickLocation button{
  font-size: 20px;
}


@media only screen and (max-width: 690px) {
  .menu {
    opacity: 1;
    z-index: 2;
  }
  nav ul  {
    top: 30px;
    left: 20vw;
    position: absolute;
    z-index: 1;

  }
  nav ul li {
    display: block;
    height: 40px;
    width: 100px;
    padding: 0 5px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.85);
    }

    nav ul li:hover {
      border-top: none;
    }
    .toprest{
      height: auto;
    }
    .landingGrid {
      grid-template: auto/auto;
      grid-gap: 25px;
    }
    .logo {
      position: relative;
      margin-top:0;
      width: 60vw;
    }
}
