<nav>
  <button type="button" name="button" class="menu">Menu</button>
  <ul>

    <li></div> <a href="#">Home</a></li>
    <li></div><a href="#">Sign up</a></li>
    <li></div><a href="#">Log in</a></li>
    <li></div><a href="#">About</a></li>
  </ul>
</nav>
